
h1 {
    color: white;
    font-style: normal;
    font-weight:600;
    font-size: 70px;
    
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    padding:3px 3px 3px 3px;
     
}
img {
    /*border: 5px solid #ddd;*/
   
    border-color:darkslategray;
    padding: 5px;
    width: 200px;
    margin: 10px 10px 10px 10px;
}
html {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/2031767/pexels-photo-2031767.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    
}
nav {
   
    width:109%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: rgba(0,0,0,.40);*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

li {
    float:left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 40px;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
    }


        li a:hover {
            color: navy;
            font-weight: 800;
            /*background-color: rgba(0,0,0,.75);*/
        }
.pic2 {
    height:60px;
    width:60px;

}
#aboutdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
    margin-top: 15px;
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#projectsdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
    margin-top: 15px;
}
#skillsdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
    margin-top:15px;
}
#LI {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    height: 42px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: darkslateblue;
    padding:5px;
    margin-top:70px;
}

