
h1 {
   
font-family: 'Josefin Sans', sans-serif;
    color: black;
	
    font-style: Normal;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
     
}

html {
    background-color: white;

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    
}
nav {
   
  
}

ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    /*background-color: rgba(0,0,0,.40);*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
	align: center;
}

li {
    align:center;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 40px;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
    }


        li a:hover {
            color: navy;
            font-weight: 800;
            /*background-color: rgba(0,0,0,.75);*/
        }
.pic2 {
    height:60px;
    width:60px;

}
#aboutdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
    margin-top: 15px;
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#projectsdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
    margin-top: 15px;
}
#skillsdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
    margin-top:15px;
}
#LI {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    height: 42px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: darkslateblue;
    padding:5px;
    margin-top:70px;
}

