
h1 {
    color: floralwhite;
    font-style: normal;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 2px 2px 2px 2px;
     
   
}
img {
    border: 5px solid #ddd;
    border-radius: 70%;
    padding: 5px;
    width: 250px;
}
body {
    background-image: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1113&q=80")
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    
}
nav {
   
    width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.25);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

li {
    float:left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 40px;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
    }

  
        li a:hover {
           color: Highlight;
           font-weight:800;
        }
.pic2 {
    height:60px;
    width:60px;

}
#aboutdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
    
    
}
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#projectsdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
}
#skillsdiv {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: rgba(0,0,0,.5);
    width: 75%;
}
#LI {
    font-family: 'Josefin Sans', sans-serif;
    color: floralwhite;
    font-style: Normal;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    height: 42px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    border-color: floralwhite;
    border: 5px solid #ddd;
    background-color: darkslateblue;
    padding:5px;
    margin-top:70px;
}

